<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【公式】TOKIO IE インカラミ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/price.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NBL00V4XZ8"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue-agile"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-agile/dist/VueAgile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
</head>

<body>
    <div class="wrapper">
        <div class="top-nav-bar">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a href="#" class="navbar-brand" style="width:100%; max-width: 200px;" >
                        <img src="assets/images/logo2.png" alt="IFING BEAUTY ONLINE">
                    </a>
                </div>
            </nav>
            <div class="top-sub-nav" id="app">
                <div class="container">
                    <div class="row">
                        <div class="col-4 subnav" v-for="link in links">
                            <a v-bind:href="link.url">
                                <h3>{{link.text}}</h3>
                                <p v-html="link.fontAwesome"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-logo">
                <h1 class="text-center"><img src="assets/images/tokio-inkarami-logo-white.png"
                    alt="TOKIO IE INKARAMI logo" class="logo"></h1>
            </div>
            <p>
                特許技術インカラミだからこそ実現!<br>
                抜群の補修力で傷んだ髪をケアする<br>
                シャンプー・トリートメント
            </p>
            <img src="assets/images/premiumplatinum.png" alt="TOKIO IE INKARAMI" class="main">
        </div>

        <div class="container">
            <div class="intro" id="top-intro">
                <div class="d-flex align-items-center justify-content-center">
                <div class="col-8">
                    <a href="https://ifing-beauty.com" class="btn-success btn" style="width:100%">購入ページへ</a>
                </div>
                </div>
                <div class="article">
                    <div class="maintext">
                        <h4 data-aos="fade-up">{{getTopTitle()}}</h4>
                        <div class="contents">
                            <p v-html="getTopText()"></p>
                            <div class="read-more d-flex justify-content-center">
                                <a class="moreless-button">もっと読む</a>
                            </div>
                            <div class="moretext">
                                <h4>{{getHiddenTitle()}}</h4>
                                <p v-html="getHiddenText()"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- youTube Video -->
        <div class="col-md-8 offset-md-2 col-lg-8 offset-lg-2 px-0" data-aos="fade-right">
            <div class="ratio ratio-16x9 text-center mt-4 mb-4">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G_6CIRy4b4Q"
                    style="max-width: 100%;height: 100%;" allowfullscreen></iframe>
            </div>
        </div>

       

        <div class="container-fluid px-0">
            <section class="section02">
                <div class="top col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <h3>理想のシャンプー・トリートメントを<br>お探しの方に是非オススメしたい!</h3>
                    <h4>超・補修型ホームケアが<br>ご自宅・簡単サロントリートメントを<br class=" br_on576">叶えます。</h4>
                </div>

                <div class="item">
                    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
                        <div class="item-image col-sm-8 offset-sm-2 mb-5 d-flex align-items-center justify-content-center">
                            <img src="assets/images/3-points-2.svg" alt="TOKIO IE INKARAMI" style="width: 90%;">
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="subscription-notice col-md-10 col-sm-10 col-11 justify-content-center">
                                <h4 class="text-center">お得な定期お届けコース</h4>
                                <div class="img">
                                    <img src="assets/images/img_truck.png" alt="カート" class="img-fluid">
                                </div>
                                <p class="text-center">いつも5％オフ（初回は更に+5％オフ）<br>
                                送料無料<br>
                                リピートリピート回数毎に得点をご用意<br>
                                選べるサイズ展開<br>
                                </p>
                            </div>
                        </div>
                        <div id="subItem">
                            <div v-for="item in items">
                                
                                <div class="item-details">
                                    <div class="col-8 offset-2">
                                        <img :src="item.img" alt="TOKIO INKARAMI" class="img-fluid">
                                    </div>
                                    <h3>TOKIO IE インカラミ<br>{{item.itemName}}</h3>
                                    <h4>{{item.itemNameType}}</h4>
                                    <p>{{item.size}}</p>
                                    <h6><span>通常価格:</span><strong>￥{{item.regularPrice.toLocaleString()}}</strong>税込</h6>
                                    <h5><strong>￥{{item.withTaxPrice.toLocaleString()}}</strong>税込</h5>
                                    <a v-bind:href="item.link" class="btn-success btn">購入はこちら</a>
                                </div> 
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="bottom col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12" id="concern">
                    <h4>髪に悩みを抱えるあなたにこそ<br class="br_on992">本当にオススメしたい…</h4>
                    <div class="list-and-image col-xl-8 offset-xl-2 row">
                        <div class="col-md-5 col-sm-5 col-6 img d-flex justify-content-center align-items-center">
                            <img src="assets/images/img004.png" alt="TOKIO IE INKARAMI"
                                style="opacity: 0.7;">
                        </div>
                        <div class="col-md-7 col-sm-7 list my-auto">
                            <ul>
                                <li v-for="concern in concerns" data-aos="fade-right"><i class="fa-solid fa-square-check"></i>{{concern.text}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="container-fluid px-0 section-03" id="promotions">
            <div class="row px-0">
                <div class="type col-lg-4 px-0" v-for="promotion in promotions">
                    <img :src="promotion.image" alt="" class="img-fluid">
                    <div class="text">
                        <p style="padding-left: 20px;">
                            {{promotion.text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container-fluid section-12 px-0" id="bannerImage">
            <div class="section-12a">
                <h4 class="text-center">カリスマ美容師たちの支持率No.1<br>
                    TOKIOインカラミトリートメント<br class="br_on576">から生まれた<br>
                    本格的ホームケアシリーズ</h4>
            </div>
            <div class="product-text">
                <h3><img src="assets/images/tokio-inkarami-landscape.svg" alt="TOKIO インカラミ">
                </h3>
                <h3>
                    <em>ホームケア</em><br>
                    <span>ラインアップ紹介</span>
                </h3>
                <p>各シリーズのバナーをクリックすると、<br class="br_on576">それぞれの商品ページをご覧いただくことができます。</p>
            </div>
            <div class="row mx-0">
                <div class="col-lg-4 px-0" v-for="banner in banners" data-aos="fade-up-right">
                    <a v-bind:href="banner.url">
                        <img :src="banner.image" :alt="banner.product" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>


        <div class="section-05">
            <div class="container py-5">
               
                <div class="col-lg-8 offset-lg-2">
                    <img src="assets/images/img-reason001.jpg" alt="TOKIO インカラミ 選ばれる理由" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="container-fluid section-14" id="tokio1-4">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                <p class="scrollable">右ににスクロールできます <i class="fa-solid fa-arrow-right"></i></p>
                <div class="tabs is-centered" style="margin-bottom:0;" v-cloak>
                    <ul style="padding:0;">
                        <li v-for="(tab, index) in tabs" :class="{'is-active': show == index}">
                            <a @click.prevent="show = index">{{tab.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="texts" v-cloak>
                    <transition-group target="div" appear @click.native="navigate($event); alerts($event);">
                        <div v-for="(tab, index) in tabs" v-if="show == index" :key="index" class="row col-lg-10 offset-lg-1">
                            <div class="col-sm-6 col-4 img pb-3 px-3 d-flex align-items-center">
                                <img :src="tab.img" :alt="tab.title" class="img-fluid">
                            </div>
                            <div class="col-sm-6 col-8 d-flex align-items-center justify-content-center">
                                <div class="ingredient-details">
                                    <h2>{{tab.title}}</h2>
                                <h4 v-if="tab.subtitle1 === null" style="display:none;"></h4>
                                <h4 v-else>{{tab.subtitle1}}</h4>
                                <div class="dp">
                                <p v-html="tab.content1"></p>
                                </div>
                                <h4 v-if="tab.subtitle2 === null" style="display:none;"></h4>
                                <h4 v-else>{{tab.subtitle2}}</h4>
                                <div class="dp">
                                <p v-html="tab.content2"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </transition-group>
                </div>
            </div>
        </div>

        <div class="section-19">
            <div class="container py-5">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                    <img src="assets/images/graph.jpg" alt="TOKIO インカラミ 毛髪強度" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="section-15">
            <div class="top">
                <img src="assets/images/section-15-img.png" alt="TOKIO INKARAMI" class="img-fluid">
            </div>
        </div>
        <div class="section-16" id="tokioIngredients1">
            <div class="contents">
                <h3 class="text-center mt-5">ご自宅でサロンの仕上がり</h3>
                <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                    <img src="assets/images/tokio1-4.png" alt="TOKIO INKARAMI" class="img-fluid">
                    <img src="assets/images/tokioinkarami400.png" alt="TOKIO INKARAMI" class="img-fluid">
                </div>
                <h4 class="text-center">シャンプーに<span>TOKIO <em>1</em></span></h4>
                <h4 class="text-center">トリートメントに<span>TOKIO <em>2</em>/<em>3</em>/<em>4</em></span></h4>
                <div class="ingredient-details">
                    <div class="text" v-for="item in Ingredients1">
                        <h4><u>TOKIO {{item.tokioNum}} {{item.ingredient}}</u></h4>
                    <p v-html="item.details"></p>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                    <img src="assets/images/img-3types.png" alt="TOKIO INKARAMI" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="section-17">
            
            <div class="container d-flex justify-content-center align-items-center">
                <div class="col-md-10">
                    <div class="top">プロ中のプロ、<strong>カミカリスマ</strong>が<br><strong>TOKIOインカラミ トリートメント</strong>を<br>愛用する理由とは？</div>
                    <div id="stylists-carousel" class="carousel slide pb-5" data-bs-ride="true">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#stylists-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#stylists-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#stylists-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          <button type="button" data-bs-target="#stylists-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                          <button type="button" data-bs-target="#stylists-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                          <button type="button" data-bs-target="#stylists-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                          <button type="button" data-bs-target="#stylists-carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="col-10 offset-1">
                                <img src="assets/images/slide01.png" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="col-10 offset-1">
                                <img src="assets/images/slide02.png" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="col-10 offset-1">
                                <img src="assets/images/slide03.png" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="col-10 offset-1">
                                <img src="assets/images/slide04.png" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="col-10 offset-1">
                                <img src="assets/images/slide05.png" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="col-10 offset-1">
                                <img src="assets/images/slide06.png" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="col-10 offset-1">
                                <img src="assets/images/slide07.png" class="d-block w-100" alt="...">
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#stylists-carousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#stylists-carousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        

        <div class="sect-012 py-5">
              <h3 class="text-center">OCEAN TOKYO 髙木琢也 様</h3>
            <div class="col-md-8 offset-md-2 col-lg-8 offset-lg-2 px-0" data-aos="fade-right">
                <div class="ratio ratio-16x9 text-center mt-4 mb-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BmMgkKZ5dNM"
                        style="max-width: 100%;height: 100%;" allowfullscreen></iframe>
                </div>
            </div>    
        </div>

        <div class="container section-06">
            <div class="title-contents">
                <p>TOKIO IE インカラミ</p>
                <h4>共通成分＆メカニズム</h4>
            </div>

            <div class="about">
                <div>
                    <img src="assets/images/img-tokio001.jpg" alt="" class="img-fluid">
                </div>
            </div>

            

            <!-- <div class="about">
                <h3><span>Q.</span>ケラチンとは何？</h3>
                <div class="inner">
                    <h4>A. ケラチン = ケラチンタンパク質</h4>
                    <p>タンパク質の一種で、髪の毛以外では、爪や皮膚の角質層にも含まれます。</p>
                    <div class="row pie-chart">
                        <div class="col-sm-4">
                            <img src="assets/images/pie-chart.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-8 d-flex align-items-center">
                            <p>髪の毛はほとんどがタンパク質でできており、髪の毛のダメージは、タンパク質の流出が主な要因です。
                                特にヘアカラー剤やパーマ剤に含まれる成分によって髪の中のタンパク質が流出し、空洞が生まれることで、切れ毛やパサつきが生じます。
                                これらのダメージをケアするためには、タンパク質で補うのが最も有効な方法です。</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about">
                <h3>シャンプーとトリートメントでインカラミ</h3>
                <div class="inner">
                    <p>
                        シャンプーに羽毛ケラチン、トリートメントにケラチンアミノ酸と羊毛ケラチンを配合。これらの成分が毛髪内部で絡み合うことで、高い補修効果と持続力をもたらします。
                    </p>
                    <div class="additional-info d-flex justify-content-center align-items-center">
                        <a href="" class="btn-success btn">詳しくはこちら <i class="fa-sharp fa-solid fa-caret-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="about">
                <h3>フラーレンとは?</h3>
                <div class="inner">
                    <p>
                        活性酸素によって、髪の毛に十分な栄養分が行き渡らないと、ツヤ、ハリコシが失われてしまいます。
                        フラーレンには強い抗酸化作用があり、髪の毛の状態を活性化させ、健康髪を維持することができます。
                    </p>
                    <div class="additional-info">
                        <h6>1996年、ノーベル化学賞を受賞している成分です。抗酸化力は、ビタミンCの100倍以上、しかも長時間続きます。</h6>
                    </div>
                </div>
            </div> -->


            <!-- <div class="title-contents">
                <p>TOKIO IE インカラミ</p>
                <h4>共通成分＆メカニズム</h4>
            </div> -->

            
            <div class="about">
                <h3 class="text-center">美容室のシャンプー/トリートメントはどこが優れているの?</h3>
                
                <div>
                    <img src="assets/images/img-tokio002.jpg" alt="" class="img-fluid">
                </div>
                
                <!-- <div class="row my-5">
                    <div class="comparison col-sm-6">

                        <div class="title">
                            <h4>一般的なシャンプー</h4>
                        </div>
                        <div class="col-6 offset-3">
                            <img src="assets/images/pie-chart002.png" alt="円グラフ" class="img-fluid">
                        </div>
                        <div class="sub-title">
                            <p>「洗うこと」に特化
                                <br>&nbsp;
                            </p>
                        </div>
                        <div class="main-point text-center">
                            洗浄力は優れているが<br>刺激が強い
                        </div>
                    </div>
                    <div class="comparison col-sm-6">
                        <div class="title">
                            <h4>美容室のシャンプー
                            </h4>
                        </div>
                        <div class="col-6 offset-3">
                            <img src="assets/images/pie-chart001.png" alt="円グラフ" class="img-fluid">
                        </div>

                        <div class="sub-title">
                            <p>「洗うこと」「ケアすること」<br>
                                どちらにも特化</p>
                        </div>
                        <div class="main-point text-center">
                            洗浄力はマイルド<br>ケア効果もプラス
                        </div>
                    </div>
                </div> -->
                <!-- <h3 class="text-center">TOKIO IEは、洗う&ケアを高いレベルで実現するために成分にこだわり抜きました。</h3> -->
            </div>

            
        </div>


        <div class="container-fluid section-13" id="app5">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                <div class="tabs is-centered" v-cloak>
                    <ul>
                        <li v-for="(tab, index) in tabs" :class="{'is-active': show == index}">
                            <a @click.prevent="show = index">{{tab.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="texts" v-cloak>
                    <transition-group target="div" appear @click.native="navigate($event); alerts($event);">
                        <div v-for="(tab, index) in tabs" v-if="show == index" :key="index">
                            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1">
                                <img :src="tab.img" :alt="tab.title" class="img-fluid">
                            </div>
                            
                            <div v-html="tab.content"></div>
                            <p class="size"><strong>サイズ：</strong>{{tab.size}}</p>
                            <ul>
                                <li v-if="tab.list1 === null" style="display:none;"></li>
                                <li v-else>{{tab.list1}}</li>
                                <li v-if="tab.list2 === null" style="display:none;"></li>
                                <li v-else>{{tab.list2}}</li>
                                <li v-if="tab.list3 === null" style="display:none;"></li>
                                <li v-else>{{tab.list3}}</li>
                                <li v-if="tab.list4 === null" style="display:none;"></li>
                                <li v-else>{{tab.list4}}</li>
                                <li v-if="tab.list5 === null" style="display:none;"></li>
                                <li v-else>{{tab.list5}}</li>
                            </ul>
                            <h4>{{tab.ingredientTitle}}</h4>
                            <div class="ingredient-description box mx-2 mb-4" v-html="tab.ingredientDesc"></div>
                        </div>
                    </transition-group>
                </div>
            </div>
        </div>

        <div class="container section-07" id="user-voices">
            <div class="top">
                <h4>USERS' VOICE</h4>
                <p>TOKIO IEユーザー様からの声</p>
            </div>
            <div class="col-lg-12">
                <div class="user-voice-list row my-5">
                    <div class="col-md-6 my-2" v-for="user in userVoices">
                        <div class="row">
                            <div class="col-sm-4 col-3 d-flex align-items-center justify-content-center">
                                <img :src="user.img" alt=" TOKIO IE ユーザー" class="img-fluid">
                            </div>
                            <div class="col-sm-8 col-9 d-flex justify-content-center align-items-center voice-text">
                                <p>{{user.voice}}</p>
                            </div>
                        </div>
                    </div>  
                </div>
                <p class="text-center">
                    <a href="https://tokio.tokyo/shampoo-treatment/#user-voice">ユーザー様からの声を見る</a>
                </p>
            </div>
        </div>

        
        <div class="section-005">
            <h4 class="text-center">商品一覧</h4>
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <div class="owl-carousel owl-theme" id="purchase-products">
                    <div v-for="product in products">

                        <div class="item">
                            <a v-bind:href="product.url">
                                <img :src="product.img" :alt="product.name" />
                            </a>
                            <div class="product-info text-center">
                                <h4>TOKIO IE INKARAMI<br><span>{{product.name}}</span></h4>

                                <!-- <h5><span>{{Math.round(product.price * 1).toLocaleString()}}</span>円</h5> -->
                                <h3><span>{{Math.round(product.price * 1.1).toLocaleString()}}</span>円 <em>税込</em></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid px-0 mx-0 section-08">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 subscription-image">
                <img src="assets/images/img-sub001.jpg" alt="定期について" class="img-fluid">
            </div>
            <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                <div id="subscription-message">
                    <div class="subscription-message" v-for="message in messages">
                        <h2>{{message.reasonNo}}</h2>
                        <h5>{{message.reasonHeader}}</h5>
                        <div class="message-text" v-html="message.reasonText"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid section-09" id="product-list">
            <h3><span>特別なTOKIOブランド</span></h3>
            <p>TOKIOインカラミのメカニズムを引き継ぎ、
                <br>さらにグレードアップした特別な<br class="br_on576">2ブランドをご紹介します。
            </p>
            <div class="row col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
                <div class="col-sm-6" v-for="product in tokioProducts">
                    <div class="tokio-brands">
                        <a v-bind:href="product.url">
                            <img :src="product.img" :alt="product.name" class="img-fluidå">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-10">
                <div class="container">
                    <div class="section-10-image top col-lg-10 offset-lg-1 col-md-12 col-sm-12 my-3">
                        <h3>単品で購入したい方はこちら</h3>
                        <div class="row bg-white">
                            <div class="col-4 px-0">
                                <img src="assets/images/individual-purchase-tokio-platinum.png" alt="TOKIO IE INKARAMI PLATINUM プラチナム" class="img-fluid">
                            </div>
                            <div class="col-4 px-0">
                                <img src="assets/images/individual-purchase-tokio-premium.png" alt="TOKIO IE INKARAMI PLATINUM プラチナム" class="img-fluid">
                            </div>
                            <div class="col-4 px-0">
                                <img src="assets/images/individual-purchase-tokio-headspa.png" alt="TOKIO IE INKARAMI PLATINUM プラチナム" class="img-fluid">
                            </div>
                        </div>
                        <!-- <img src="assets/images/all-products.png" alt="TOKIO INKARAMI商品" class="img-fluid"> -->
                        <a href="#" class="btn-success btn my-3" style="width:100%;">購入はこちら</a>
                    </div>
                    <p>【ご注文に関しての注意事項】</p>
    
                    <ul class="top">
                        <li>200ml/gサイズのTOKIOインカラミ シャンプー・トリートメント1セットで約1ヶ月</li>
                        <li>400ml/gサイズのTOKIOインカラミ シャンプー・トリートメント1セットで約2ヶ月</li>
                        <li>700ml/gサイズのTOKIOインカラミ シャンプー・トリートメント1セットで3ヶ月から4ヶ月</li>
                    </ul>
    
                    <div class="section-10-text">
                        <p>それぞれ上記期間を目安として、ご使用いいただけるサイズとなっております（髪の長さによって変わります）。<br>
                            ご購入前にご確認ください。なお、転売目的での商品購入はお断りしております。</p>
    
                        <p class="add-red-mark">詳しくは<a href="#">こちら</a>をご覧ください。</p>
                    </div>
                </div>

                <footer id="footer-links">
                    <div class="container">
                        <ul class="bottom" v-for="links in footerLinks">
                            <li><a v-bind:href="links.url">{{links.text}}</a></li>
                        </ul>
                    </div>
                </footer>

        </div>

    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>


<script src="assets/js/index.js"></script>
<script src="assets/js/06-productInfo.js"></script>
<script src="assets/js/top-intro.js"></script>
<script src="assets/js/tab.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- custom JS code after importing jquery and owl -->
<script type="text/javascript">
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });

    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 3
            }
        }
    })
</script>

<script>
    $('.moreless-button').click(function () {
        $('.moretext').slideToggle();
        if ($('.moreless-button').text() == "もっと読む") {
            $(this).text("閉じる")
        } else {
            $(this).text("もっと読む")
        }
    });
</script>



</html>